<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameaholix.coinops">

    <application
        android:name=".CoinOpsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.GameListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".game.GameDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".game.GameListActivity" />
        <activity
            android:name=".inventory.InventoryListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".inventory.InventoryDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".inventory.InventoryListActivity" />
        <activity
            android:name=".repair.RepairDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".game.GameDetailActivity" />
        <activity
            android:name=".repair.RepairEditActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".repair.RepairDetailActivity" />
        <activity
            android:name=".todo.ToDoListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".todo.ToDoDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".game.GameDetailActivity" />
        <activity
            android:name=".shopping.ShoppingListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>